{{ define "main" }}

<header class="breadCrumb">
  
  <div class="animate-shape">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 600 600">
      <defs>
        <linearGradient id="d" x1="0.929" y1="0.111" x2="0.263" y2="0.935" gradientUnits="objectBoundingBox">
          <stop offset="0" stop-color="#f1f6f9" />
          <stop offset="1" stop-color="#f1f6f9" stop-opacity="0" />
        </linearGradient>
      </defs>
      <g data-name="blob-shape (3)">
        <path class="blob" fill="url(#d)"
          d="M455.4 151.1c43.1 36.7 73.4 92.8 60.8 136.3-12.7 43.5-68.1 74.4-111.3 119.4-43.1 45-74 104.1-109.8 109-35.9 5-76.7-44.2-111.8-89.2-35.2-45-64.7-85.8-70.8-132.6-6-46.8 11.6-99.6 46.7-136.3 35.2-36.6 88-57.2 142.4-58.8 54.5-1.7 110.6 15.6 153.8 52.2z" />
      </g>
    </svg>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="breadCrumb__title">{{ .Title }}</h3>
        
        <br>
        
        <p>L’adresse de mon bureau est : <a href="https://maps.app.goo.gl/ieqmVMomG4PNyUpg9" target="_blank" rel="noreferrer noopener">6 Rue Fond du Village, 1315 Incourt</a>.</p>
        
        <br>
        
        <img src="/layouts/bureau/list_files/parking-easystat.jpeg" alt="easystat-professeur-statistique" width="75%"/>
        
        
<br>
<br>
        
        <p>La maison se trouve au bout d'une petite allée. Vous pouvez vous garer sur le parking qui se trouve devant la maison.</p>

<p>Afin d'éviter d'accumuler du retard, je vous prie d'être ponctuel. Si besoin, mon numéro de téléphone est <a href="tel:0032477280521">+32 477 280 521</a>.</p>
        
        <p><b>Pour tous paiements, merci de prévoir le compte juste en liquide.</b></p>
        
      </div>
    </div>
  </div>
</header>
{{ end }}
