{{ with .Site.Data.blogSection }}
{{ if .enable }}
<section class="section blog-preview" id="blog">
	<div class="blog-preview__shape">
		<img src="images/blog/blog-shape.svg" alt="blog shape" />
	</div>
	<div class="container">
		<div class="row mb-5">
			<div class="col-lg-6">
				<div class="blog-preview__header">
					
					{{ .title | markdownify }}
				</div>
			</div>
			<div class="col-lg-6">
				<div class="blog-preview__header_button desktop">
					<a class="btn btn-outline-secondary  btn-zoom m-3" href="{{ .buttonTarget | absURL }}">Voir tous les posts</a>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-lg-12">
				<div class="blog-preview__header_button mobile">
					<a class="btn btn-outline-secondary btn-zoom" href="{{ .buttonTarget | absURL }}">Voir tous les posts</a>
				</div>
			</div>
		</div>
	</div>
</section>
{{ end }} {{ end }}