{{ with .Site.Data.portfolioSection }}
{{ if .enable }}
<section class="section portfolio" id="portfolio">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-6 offset-lg-3">
        <div class="portfolio__header mb-5">
          <span class="top-title">{{ .topTitle }}</span>
          {{ .title | markdownify }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="portfolio-item-grid">
          
          <div class="portfolio-item">
            
            <div class="portfolio-item-content">
<p><b>Statistiques</b>
        <ul>
          <li>Statistiques descriptives</li>
          <li>Statistiques inférentielles (test d'hypothèse & intervalle de confiance)</li>
          <li>Modélisation & régression</li>
          <li>Analyse de survie</li>
        </ul>
        <br>
        </p>

<p><b>Probabilités</b>
        <ul>
          <li>Probabilités (calcul, loi & dénombrement)</li>
          <li>Variables aléatoires (discrètes & continues)</li>
          <li>Distributions multivariées</li>
        </ul>
        <br>
        </p>
        
<p><b>R</b>
        <ul>
          <li>Visualisation & dashboards</li>
          <li>Reporting (production automatisée de rapports)</li>
          <li>Programmation en R (RStudio, R Markdown, Quarto & R Shiny)</li>
        </ul>
        </p>
              
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
